.notfound-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f7f7f7;
  color: #333;
}

.notfound-container h1 {
  font-size: 80px;
  margin: 0;
}

.notfound-container p {
  font-size: 20px;
  margin: 10px 0;
}

.notfound-container a {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #721c00;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.2s ease;
}

.notfound-container a:hover {
  background-color: #310c00;
}
